
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<VwCitesDto>
<div class="col-12 grid-margin stretch-card h-100 ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mt-5 mb-5">@ResLabels.City_</h4>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th> # </th>
                        <th>@ResLabels.Country_ @ResShipping.ArabicName </th>
                        <th>@ResLabels.Country_ @ResShipping.EnglishName </th>
                        <th>@ResLabels.City_ @ResShipping.ArabicName </th>
                        <th>@ResLabels.City_ @ResShipping.EnglishName </th>
                        <th> @ResActions.Action </th>
                    </tr>
                </thead>
                <tbody>
                        @for(int x =1; x<=Model.Count; x++){
                    <tr>
                            <td>@x</td>
                            <td> @Model[x-1].CountryArabicName </td>
                            <td> @Model[x-1].CountryEnglishName </td>
                            <td> @Model[x - 1].CityArabicName </td>
                            <td> @Model[x - 1].CityEnglithName </td>
                          <td> 
                                 <a asp-action="Edit" asp-controller="Cites" asp-route-id="@Model[x-1].CityId" class="btn btn-info">@ResActions.Edit</a> 
                                 <button asp-action="ChangeStatus" asp-controller="Cites"  asp-route-id="@Model[x-1].CityId" class="btn btn-danger" onclick="return confirm(@ResMessages.ConfirmDeleteRecord);">@ResActions.Delete</button> 
                           </td>
                    </tr>
                        }
                </tbody>
            </table>
            <a asp-controller="Cites" asp-action="Add" class="btn btn-primary mt-5">@ResActions.New</a>
        </div>
    </div>
</div>
@section Scripts {
}